body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
#drum-machine {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine #display {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 50vh;
}
#drum-machine #pad-bank button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.active {
  background-color: yellow;
  transition: 0.1s;
}

#gradient {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(334deg, #d16ba5, #86a8e7, #5ffbf1);
  background-size: 100% 100%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
